/* Styles for the Kanban Board Application */

/*
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}*/ /* COULD BE CORRECT*/

body {
    /*width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;*/
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}

nav {
    padding: 20px;
}

.page {
    padding: 20px;
}

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #f4f7fa;
    padding: 20px;
}

h4 {
    color: #828FA3;
}