/* === STYLES for the Kanban Board Application === */

body {
    width: 1440px;
    height: 1024px;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
}

nav {
    width: 10vw;
    height: 100vh;
    padding: 20px;
}

.picture-logo {
    width: 10vw;
    height: auto;
    padding-top: 20px;
}

button {
    background-color: #635fc7;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    width: 10vw;
}


/* === MAIN PAGE SECTION === */

.page {
    width: 90vw;
    height: 100vh;
    padding-top: 20px;
}

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #f4f7fa;
    padding-left: 20px;
}

h4 {
    color: #828FA3;
}

.tasks {
    display: flex;
    flex-direction: column;
    background-color: #f4f7fa;
    width: 300px;
    margin-right: 20px;
    margin-top: 0px;
}

.card {
    background-color: #ffffff;
    border-radius: 7px;
    padding: 18px 14px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* === Colorful Dots Section === */

.dot-one {
    width: 8px;
    height: 8px;
    background-color: #49C4E5;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.dot-two {
    width: 8px;
    height: 8px;
    background-color: #635fc7;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.dot-three {
    width: 8px;
    height: 8px;
    background-color: #83f28f;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}


/* === MEDIA QUERIES for Small Screens === */

@media (max-width: 425px) {
  #hide {
    display: none; /* This removes the column OR object from the layout entirely */
  }
  body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
  }
  .picture-logo {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 0;
  }
  .page {
    width: 100vw;
    height: 90vh;
    padding-top: 0;
  }
  main {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}