/* Styles for the Kanban Board Application */

/*
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}*/ /* COULD BE CORRECT*/

body {
    width: 1440px;
    height: 1024px;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}

nav {
    padding: 20px;
}

button {
    background-color: #635fc7;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    /*width: 150px;*/    /*OR 80vw, once I specify dimensions*/
}

.page {
    padding-top: 20px;
    /*margin-bottom: 0;*/
}

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #f4f7fa;
    padding: 20px;
}

h4 {
    color: #828FA3;
}

.card {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}